.App{
  text-align: center;
}

.colour-container{
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.boton-container{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

button{
  margin-top: 20px;
  font-size: 15px;
}

.correct{
  color: green;
  font-size: 25px;
  margin-top: 15px;
}

.wrong{
  color: red;
  font-size: 25px;
  margin-top: 15px;
}